* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    padding: 1rem;
    font-family: "Poppins";
    width: 1447px;
    margin: auto;
    
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 100%;
    margin: 2rem 0 2rem 0;
}

.text-container{
    margin-bottom: 2rem;
}
#title{
    text-align: center;
    color:  hsl(234, 12%, 34%);
    font-weight: 600;
    line-height: 2.1rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
#title::first-line{
    font-weight: 200;
    color:  hsl(212, 6%, 44%);
}

#description{
    font-size:0.7rem;
    text-align: center;
    color: hsl(212, 6%, 44%);
    font-weight: 300;
}

.cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: max-content;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: max-content;
    height: max-content;
    padding: 1rem;
    gap: 1rem;
}

.card{
    width: 17rem;
    padding: 2rem;
    border-top: 4px solid red;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.card-header{
    color: hsl(234, 12%, 34%);
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-align: left;
}

.card-desc{
    color:  hsl(212, 6%, 44%);
    font-weight: 200;
    margin-bottom: 0.5rem;
    text-align: left;
    font-size: 0.6rem;
}

.card-icon{
    width: 2.2rem;
    aspect-ratio: 1;
    align-self: flex-end;
    margin-top: 1.5rem;
    margin-right: 1.2rem;
}

@media screen and (max-width: 700px) {
    body{
        width: 375px;
        padding: 1rem;
    }

    .cards-container{
        display: flex;
        flex-direction: column;
    }

    #title{
        font-size: 1.4rem;
        line-height: 1.7rem;
        text-align: center;
    }

    #description{
        font-size: 0.8rem;
        padding: 0 2.7rem;
        text-align: center;
        font-weight: 500;
    }
}
